<div class='close-icon'>x</div>
<div class='ava-logo-container'>
  <img class='ava-logo-image' src='https://raw.githubusercontent.com/sindresorhus/ava/master/media/logo.png'/>
</div>
<div class='test-statistics'>
  <div class='test-statistics-passed-container'>
    <div id='passed' class='number'>-</div>
    <div class='text'>PASSED</div>
  </div>
  <div class='test-statistics-failed-container'>
    <div id='failed' class='number'>-</div>
    <div class='text'>FAILED</div>
  </div>
</div>
<div id='executing'>
  <div id="sk-three-bounce">
    <div class="sk-child sk-bounce1"></div>
    <div class="sk-child sk-bounce2"></div>
    <div class="sk-child sk-bounce3"></div>
  </div>
</div>
<div id='file-header'></div>
<div class='tests-container'></div>
