@import 'ui-variables';

.ava {
  padding: 30px;
  font-size: 15px;

  .message { padding-bottom: 10px; }
  .summary { font-size: 12px; padding-top: 10px; }
  .test { font-size: 11px; font-weight: bold; }
  .executing { font-size: 12px; font-weight: bold; padding-bottom: 10px;}
}
